/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body{
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  max-height: 850px;
  overflow-y: auto;
}
body::before {
  content: "";
  position:fixed;
  background: #040404 url("../img/negro_plateado.jpg") top right no-repeat ;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 850px;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Secciones General
--------------------------------------------------------------*/
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color:#040404;
}

/* Espaciado de las secciones */
#about, #estudios, #experiencia, #contacto, #login {
  margin-top: 120px;
  padding-top: 120px;
  width: 100%;
  overflow-y: hidden;
  background-color: #040404;
  
}
.section-title h2 {
  font-size: 15px;
  font-weight: 700;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #f12294fd;
  margin: 4px 10px;
}


/*----------------------------------------
    Logo
------------------------------------------*/
.Logo{
  position:relative;
  margin-top: 3px;
  margin-left: 3px;
  width: 95px;
  height: 78px;
  border-radius:8px;
  box-shadow: 5px 3px #dcdedfea;
  animation: moverIzquierda 1s ease-in;
  display: block;
}

.texto{
 position:relativa;
 margin-top: -70px;
 margin-left: 110px;
}

.texto p{
 color:rgb(250, 206, 156);
 font-size: 18px;
 visibility: hidden;

}

.Logo:hover .texto p {
 visibility: visible;
 animation: moverIzquierda 1s ease-in;
 display: block;

}

@keyframes moverIzquierda{
 0%{
     opacity: 0;
     transform: translateX(-100px);
 }

 100%{
     opacity: 1;
     transform: translate(0);
 }
}


/* -------------------------
    redes sociales menu ppal
----------------------------*/     


 .social-links{
  margin-top: 3px;
  display:flex;
  margin-left:  75%;
  margin-top: 7px;
}

.social-links a{
  color:#fff;
  justify-content:space-between;
  font-size: 30px;
  line-height: 1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right:15px;

}
.social-links a:hover {
  background: #d2188d;
}

/* ----------------------------
barra de navegacion menu
--------------------------------*/
.navbar li {
  position: relative;
}
.navbar li + li {
  margin-left: 50px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  white-space:pre-wrap;
  transition: 0.3s;
  
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 4px;
  left: 0;
  background-color: #d2188d;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 25px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}


/*---------------------
Titulo pantalla principal
--------------------------*/
.tituloppal h1 {

  font-size: 150px;
  color:#a09e9c;
  margin-top: 260px;
  line-height: 1;
  font-family: "Tangerine", sans-serif;
  text-shadow: 8px 0.1px #d2188e;
}

.tituloppal h2{
  text-align:justify;
  margin-left: 20px;
  font-size: 18px;
  margin-top: 20px;
  color: rgb(204, 24, 240);
  text-shadow: 0.9px 0.5px rgb(253, 250, 250);
  
}

.tituloppal h3{
  text-align:justify;
  margin-left: 300px;
  font-size: 18px;
  margin-top: 20px;
  color: rgb(5, 5, 5);
  text-shadow: 0.9px 0.5px rgb(253, 250, 250);
  
}

.tituloppal span {
  color: rgb(250, 206, 156);
  border-bottom: 2px solid #faf3f8;
  padding-bottom: 6px;
  font-size: 17px;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
  font-weight: 700;
  font-size: 20px;
  color: #d2188e;

   
}
.about-me p{
  font-size: 17px;
}
.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me i {
  color:#d2188d;
  font-size: 16px;
  margin-right: 30px;
  line-height: 0;
}


.about-me .content p:last-child {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;

}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #d2188e;
}

/*--------------------------------------------------------------
# Estudios
--------------------------------------------------------------*/
.estudio .estudio-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.estudio .estudio-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.estudio .estudio-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #d2188d;
  margin-bottom: 10px;
}
.estudio .estudio-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.estudio .estudio-item ul {
  padding-left: 20px;
}
.estudio .estudio-item ul li {
  padding-bottom: 10px;
}
.estudio .estudio-item:last-child {
  padding-bottom: 0;
}
.estudio .estudio-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #d2188d;
  border: 2px solid #868686;
}

/*--------------------------------------------------------------
# Experiencia
--------------------------------------------------------------*/
.experiencia .content h3 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #d2188e;
}

.experiencia .content ul {
  list-style: none;
  padding: 0;
}
.experiencia .content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.experiencia .content ul strong {
  margin-right: 10px;
}
.experiencia .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #d2188d;
  line-height: 0;
}
.experiencia .content p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contacto .info-box {
  color:#040404;
  padding: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 55%;
 
}
.contacto .info-box{
  font-size: 25px;
  color: #d2188d;
  padding: 1px;
  float: left;
  
}

.contacto .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}
.contacto .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
  text-align: center;
}
.social-item {
  font-size: 40px;
  text-align: center;
}
.social-item a{
  color:#fff;
}
.social-item a:hover {
  background: #d2188d;
  border-radius: 50%;
}
/*--------------------------
Seccion Fother
---------------------------*/

.fother {
  text-align:center;
  color:#040404;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(161, 138, 138);
  margin:50px;
  padding:10px;
}





